altgraph==0.16.1
appdirs==1.4.3
astroid==2.2.5
beautifulsoup4==4.7.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
colorama==0.4.1
coloredlogs==9.3.1
comtypes==1.1.7
cx-Freeze==6.0b1
decorator==4.0.11
docutils==0.14
future==0.17.1
httplib2==0.13.0
humanfriendly==4.18
idna==2.8
imageio==2.1.2
isort==4.3.21
Kivy==1.11.1
Kivy-Garden==0.1.4
lazy-object-proxy==1.4.1
logzero==1.5.0
lxml==4.3.4
mccabe==0.6.1
moviepy==0.2.3.2
numpy==1.12.0
opencv-python==3.4.5.20
pefile==2019.4.18
Pillow==6.0.0
prettytable==0.7.2
psutil==5.6.3
pyee==6.0.0
Pygments==2.4.2
pylint==2.3.1
pyppeteer==0.0.25
PyQt5==5.9.2
PyQt5-sip==4.19.18
pyreadline==2.1
python-dotenv==0.10.3
pywin32==301
pywin32-ctypes==0.2.0
qtmodern==0.1.4
QtPy==1.7.1
requests==2.20.0
selenium==3.141.0
sip==4.19.8
six==1.12.0
soupsieve==1.9.1
threadpool==1.3.2
tqdm==4.11.2
typed-ast==1.4.0
urllib3==1.22
websockets==8.0
wrapt==1.11.2
xlrd==1.2.0
xlwings==0.15.8
